<header class="d-flex justify-content-center py-3 shadow-sm bg-white">
  <ul class="nav nav-pills">
    <li
      class="nav-item mx-2"
      [class.d-none]="!isLoggedIn && window.innerWidth < 576"
    >
      <a
        routerLink="/home"
        class="btn py-1 fw-bolder"
        routerLinkActive="activeNav"
        aria-current="page"
      >
        <i class="bi bi-house-door d-sm-none"></i>
        <span class="d-none d-sm-inline">Home</span>
      </a>
    </li>
    <li
      class="nav-item mx-2"
      [class.d-none]="!isLoggedIn && window.innerWidth < 576"
    >
      <a
        routerLink="/fatture"
        class="btn py-1 fw-bolder"
        routerLinkActive="activeNav"
      >
        <i class="bi bi-receipt d-sm-none"></i>
        <span class="d-none d-sm-inline">Fatture</span>
      </a>
    </li>
    <li
      class="nav-item mx-2"
      [class.d-none]="!isLoggedIn && window.innerWidth < 576"
    >
      <a
        routerLink="/clienti"
        class="btn py-1 fw-bolder"
        routerLinkActive="activeNav"
      >
        <i class="bi bi-people d-sm-none"></i>
        <span class="d-none d-sm-inline">Clienti</span>
      </a>
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item mx-2">
      <a
        routerLink="/auth/login"
        class="btn py-1 fw-bolder"
        routerLinkActive="activeNav"
      >
        <span>Login</span>
      </a>
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item mx-2">
      <a
        routerLink="/auth/register"
        class="btn py-1 fw-bolder"
        routerLinkActive="activeNav"
      >
        <span>Register</span>
      </a>
    </li>
    <li *ngIf="isLoggedIn" (click)="logout()" class="nav-item mx-2">
      <a class="btn py-1 fw-bolder" routerLinkActive="activeNav">Log out</a>
    </li>
  </ul>
</header>
