.activeSide {
  background-color: white;
  color: black;
}

hr {
  height: 1rem;
  color: gray;
  margin-bottom: 0.5rem;
}

.navSide {
  background-color: rgb(28, 28, 28);
}

.text-bg-profile {
  background-color: rgb(50, 50, 50);
  color: white;
}

.avatar {
  background-color: rgb(215, 215, 215);
  height: 3rem;
  width: 3rem;
}

.full {
  height: -webkit-fill-available; /* Safari */
  height: -moz-available; /* Firefox */
  height: stretch; /* Standard syntax */
  height: fill-available; /* New standard syntax */
  min-height: -webkit-fill-available; /* iOS Safari */
  min-height: -moz-available; /* Firefox */
  min-height: stretch; /* Standard syntax */
}

button:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}
